body {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/9_intro_outro_screens/start/startscreen_background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.d-none {
    display: none !important;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.grayscale {
    filter: grayscale(50%);
    transition: grayscale 0.3s linear;
}

.no-grayscale {
    filter: grayscale(0%);
    transition: grayscale 0.3s linear;
}

.p-absolute-middle {
    left: 50%;
    transform: translateX(-50%);
}

canvas {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 50%);
}

h1 {
    margin-top: 0;
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 30%);
}

.startscreen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 50%);
}


.overlay {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.startscreen-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.bg-styling {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC800;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    transition: all 200ms ease-in-out;
}

.start-game {
    top: 30px;
    font-size: 22px;
    padding: 10px;
    border-radius: 22px;
}

.settings {
    left: 40px;
}

.controls {
    right: 40px;
}

.settings, .full-screen, .controls {
    bottom: 15px;
    border-radius: 30px;
    padding: 2px 25px;
}

.start-game:hover, .settings:hover, .full-screen:hover, .controls:hover, .close-div:hover {
    scale: 1.1;
    background-color: rgb(243, 224, 16);
}

.settings img, .full-screen img, .controls img {
    width: 36px;
    height: 36px;
}

.controls-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(yellow, rgb(255, 230, 0), orange);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 30%);
    border-radius: 20px;
    border: 0.5px solid black;
}

.controls-div table {
    padding: 10px;
    width: 280px;
}

.controls-div table td {
    padding: 5px;
    font-size: 18px;
}

.keys {
    text-align: center;
}

.controls-d {
    font-size: 26px !important;
}

.controls-img {
    height: 30px;
    width: 30px;
}

.close-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(105, 105, 105, 30%);
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 10%);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.close-div img {
    height: 22px;
    width: 22px;
}

.img-from {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}