body {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/9_intro_outro_screens/start/startscreen_background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.d-none {
    display: none !important;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear;
    z-index: 1000;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.grayscale {
    filter: grayscale(50%);
    transition: grayscale 0.3s linear;
}

.no-grayscale {
    filter: grayscale(0%);
    transition: grayscale 0.3s linear;
}

.p-absolute-middle {
    left: 50%;
    transform: translateX(-50%);
}

canvas {
    display: block;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 50%);
}

.buttons-in-canvas {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 10px;
}

.controls-in-canvas {
    left: 55%;
}

.full-screen-canvas {
    right: 55%;
}

.buttons-in-canvas div {
    border-radius: 30px;
    padding: 2px 25px;
}


h1 {
    margin-top: 0;
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 30%);
}

.startscreen {
    position: relative;
    width: 720px;
    height: 480px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 50%);
}

.startscreen-without-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.rotate-device-request {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 200;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 80%);
    letter-spacing: 3px;
}


.rotate-device-request-canvas {
    width: 720px;
    height: 480px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 80%);
    letter-spacing: 3px;
}


.rotate-device-request span, .rotate-device-request-canvas span {
    font-size: 20px;
    color: red;
}

.overlay {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.startscreen-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.bg-styling {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC800;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    transition: all 200ms ease-in-out;
}

.start-game {
    top: 30px;
    font-size: 22px;
    padding: 10px;
    border-radius: 22px;
}

.full-screen {
    left: 40px;
}

.controls {
    right: 40px;
}


.full-screen, .sound, .controls {
    bottom: 15px;
    border-radius: 30px;
    padding: 2px 25px;
}

.start-game:hover, .full-screen:hover, .controls:hover, .sound:hover,
.close-div:hover, .controls-in-canvas:hover, .full-screen-canvas:hover {
    scale: 1.1;
    background-color: rgb(243, 224, 16);
}

.full-screen img, .controls img, .sound img,
.controls-in-canvas img, .full-screen-canvas img {
    width: 36px;
    height: 36px;
    display: block;
}

.controls-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(yellow, rgb(255, 230, 0), orange);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 30%);
    border-radius: 20px;
    border: 0.5px solid black;
    z-index: 10;
}

.center-controls {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls-div table {
    padding: 10px;
    width: 280px;
}

.controls-div table td {
    padding: 5px;
    font-size: 18px;
}

.keys {
    text-align: center;
}

.controls-d {
    font-size: 26px !important;
}

.controls-img {
    height: 30px;
    width: 30px;
}

.controls-arrow-up {
    display: none;
}

.controls-bottle {
    display: none;
}

.close-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(105, 105, 105, 30%);
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 10%);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.close-div img {
    height: 22px;
    width: 22px;
}

.img-from {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#overlay-game-over-or-win {
    position: absolute;
    display: none;
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 15px;
    animation: 1.1s fadeInBgLightBlack ease-in-out;
}

#text-game-over-or-win {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    background-image: linear-gradient(180deg, yellow, rgb(255, 230, 0), orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    animation: 1s fadeInGameOverOrWinText ease-in-out;
}

@keyframes fadeInGameOverOrWinText {
    from {
        opacity: 0;
        font-size: 10px;
    }

    to {
        opacity: 1;
        font-size: 70px;
    }
}

@keyframes fadeInBgLightBlack {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}